/* Unicersal selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* Element selector */
body {
    background-color:#29008f ;
}
/* Id selector */
#admin-box {
    background-color:#00cc8f;
    color:rgb(255, 255, 255);
    width: 50%;
    text-align: center;
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
}
#admin-box:hover{
    box-shadow: 0px 0px 10px #f1f5f4;
    transition: ease-out 0.8s;
}
/* Descendant Selector */
#admin-box h1 {
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
} 

/* Grouping selector */
input,
label, 
select {
    display: block;
}
/* Attribute selector */
input[type="radio"]
label[for="male"]
label[for="female"] 
label[for="other"] {
display: inline-block;
}
label {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
}
select{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
option {
    background-color: #38009e;
}
input{
    background-color: transparent;
    width: 90%;
    margin: 10px auto 0px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    color: #fff;
}
/* Psudo Element selector */
input::placeholder {
    color: #fff;
}
/* Attribute selector */
input[type="submit"] {
    width: 50%;
    margin: 20px auto;
    text-transform: capitalize;
}
/* Psudo class selector */
input[type="submit"]:hover{
    background-color: #fff;
    color: #6600cc;
    transition:ease-in-out 0.8s;
}

/* class selctor */
.pg {
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0px;
}
.pg::first-letter{
    font-size: 20px;
}
.pg a {
text-transform: uppercase;
color: #38009e;
font-weight: 600;
}
.reset-p{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 50px;
}